# Database Credentials
POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_DB=db
POSTGRES_HOST=db
POSTGRES_PORT=5432

# API Keys
OPENROUTER_API_KEY=your_openrouter_key

# Services URLs
REDIS_URL=redis://redis:6379/0
INFERENCE_URL=http://host.docker.internal:8081